<footer class="footer">
  <div class="container is-max-widescreen">
    <div class="columns is-max-desktop">

      <div class="column is-3">
        <span class="logo  column is-8"><img src="/statics/images/logo.png"></span>
        <p><span><i class="icon-dotmap"></i>9 rue du Maloret <br>78520 Follainville</span></p>
        <p><span><i class="icon-mail"></i> contact@1001galops.com</span></p>
      </div>

      <div class="column is-5">

        <nav class="level is-online my-4">
          <div class="level-item column is-6 is-4-widescreen has-text-left">
              <a class="heading is-size-6">Home</a>
          </div>
          <div class="level-item column is-6 is-4-widescreen has-text-left">
              <a class="heading is-size-6">Cours</a>
          </div>
          <div class="level-item column is-6 is-4-widescreen has-text-left">
              <a class="heading is-size-6">Balades/Rando</a>
          </div>
          <div class="level-item column is-6 is-4-widescreen has-text-left">
              <a class="heading is-size-6">Evenementiel</a>
          </div>
          <div class="level-item column is-6 is-4-widescreen has-text-left">
              <a class="heading is-size-6">Entrer en Contact</a>
          </div>
        </nav>

      </div>

      <div class="column is-4 ">
          <div class="related-list my-4">
            <p class="list-header ">
              <span class="autoplay-title heading is-size-6">les derniers evenements</span>
              <span class="autoplay-toggle is-size-7">
              Read all
              <i class="icon-arrow-bold-right has-text-blue"></i>
            </span>
            </p>
            <article class="media related-card">
              <div class="media-left">
                <figure class="image">
                  <img src="http://placehold.it/120x90" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <span class="article-date"><i class="icon-calend has-text-blue mr-2"></i>07 Sep 2019</span>
                    <span class="article-title">Here’s What People Are Saying About Us</span>
                  </p>
                </div>
              </div>
            </article>

            <article class="media related-card">
              <div class="media-left">
                <figure class="image">
                  <img src="http://placehold.it/120x90" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <span class="article-date"><i class="icon-calend has-text-blue mr-2"></i>07 Sep 2019</span>
                    <span class="article-title">Here’s What People Are Saying About Us</span>
                  </p>
                </div>
              </div>
            </article>

            <article class="media related-card">
              <div class="media-left">
                <figure class="image">
                  <img src="http://placehold.it/120x90" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <span class="article-date"><i class="icon-calend has-text-blue mr-2"></i>07 Sep 2019</span>
                    <span class="article-title">Here’s What People Are Saying About Us</span>
                  </p>
                </div>
              </div>
            </article>

          </div>
      </div>

    </div>
  </div>

  <div class="content ">
    <div class="container is-max-widescreen">

      <div class="columns">
          <div class="column is-12 is-6-desktop has-text-left">
            <p class="title is-size-7"><a href="">1001 Galops</a> 2020. Tout droits reservés.</p>
            <p class="title is-size-7"><a href="" class="has-text-black">Mentions légales </a> <a href="" class="has-text-black">Confidentialités des données  </a> <a href="" class="has-text-black">Blog </a> </p>.
          </div>
          <div class="column is-12 is-6-desktop has-text-left-mobile has-text-right">
            <p class="is-size-7">Suivez nous<a href="https://test.com"><i class="has-text-blue mx-1">F</i><i class="has-text-blue mx-1">T</i></a>. </p>
          </div>
      </div>


    </div>
  </div>
</footer>




