<!-- hero area -->
<section class="hero-area has-background-primary">
  <div class="scroll-item"><i class="icon-mouse is-size-3 has-text-blue"></i></div>
  <div class="container is-fluid is-widescreen">
    <div class="columns is-centered is-multiline">
      <div class="column is-11-desktop  is-10-widescreen ">
        <p class="title is-4 has-text-white has-text-centered  has-text-weight-normal">1001 Galops c'est le partage de la passion  cheval</p>
      </div>
      <div class="column is-8 is-8-tablet mt-6 is-5-desktop is-4-widescreen is-3-fullhd">
        <img src="/statics/images/logo.png" class="logo-hero" alt="">
      </div>
      <div class="column is-11-desktop  is-10-widescreen ">
        <h1 class="has-text-black font-tertiary  my-6"> Cours d'équitation, Balades, Randonnées,<br> Travail du cheval, Evenementiel</h1>
      </div>

    </div>
  </div>
  <div class="layer-bg has-image-fit">
    <img class="image is-fit" src="/statics/images/illustrations/home-banner.jpg" alt="bg-shape">
  </div>

</section>
<!-- /hero area -->
