<!-- hero area -->
<section class="hero-area has-background-sky p-0">
  <div class="container is-fluid is-widescreen">
    <div class="columns is-centered is-multiline container_hero">

      <div class="column is-8 is-8-tablet mt-6 is-5-desktop is-4-widescreen is-4-fullhd is-logo px-6 py-0">
        <img data-scroll="" data-scroll-speed="3" src="/statics/images/logo.png" class="logo-hero" alt="">
      </div>
      <div class="column is-11-desktop  is-10-widescreen">
        <h1 class="has-text-weight-black font-tertiary  mt-1 title is-4"> Cours d'équitation, Balades, Randonnées,<br> Travail du cheval, Evenementiel</h1>
      </div>

    </div>
  </div>
  <div class="layer-bg has-image-fit" id="bg__land" data-scroll="" data-scroll-speed="-6">
    <img class="image is-fit" src="/statics/images/illustrations/home-banner.png" alt="bg-shape">
  </div>

</section>
<!-- /hero area -->
