

{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/#}


<nav class="navbar  is-navagora  is-navcol is-spaced is-fixed-top" role="navigation" aria-label="main navigation ">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ '/' | url }}">
      <span class="logo"><img src="/statics/images/logo.png" alt="{{ metadata.title }}"></span>
    </a>

    <a role="button" id="navbar-burger" class="navbar-burger burger" aria-label="menu" aria-expanded="false"  data-target="navbarAgora">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarAgora" class="navbar-menu">
    <div class="navbar-start">
      <!--<div  class="navbar-item is-niv1">
        <a class="navbar-link is-arrowless" href="{{ '/' | url }}" ><i class="icon-home is-size-4 mr-2"></i></a>
      </div>-->


        {%- for entry in collections.all | eleventyNavigation  %}
          <div class="navbar-item is-niv1 has-dropdown  {% if entry.url == page.url %} is-active{% endif %} {{  entry.title | slug  }}Navitem"  ><a class="navbar-link is-arrowless {{  entry.title | slug  }}" href="{{ entry.url | url }}">{{ entry.title }}</a></div>
        {%- endfor %}


{#-<div class="navbar-item is-niv1 has-dropdown is-hoverable">
        <a class="navbar-link anchor__balade">
          Balades/Rando
        </a>

        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item anchor__balade">
            Balades du Vexin
          </a>
          <a class="navbar-item anchor__balade">
            Balades sportive
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item anchor__balade">
            Rando (prochainement)
          </a>
        </div>
      </div>

      <div class="navbar-item is-niv1 has-dropdown is-hoverable">
        <a class="navbar-link anchor__apprendre">
          Cours
        </a>

        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item anchor__apprendre">
            Equitation classique
          </a>
          <a class="navbar-item anchor__apprendre">
            Equitation pleine nature
          </a>
        </div>
      </div>
      <div class="navbar-item is-niv1 has-dropdown is-hoverable">
        <a class="navbar-link anchor__travail" >
          Travail du cheval
        </a>

        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item anchor__travail">
            En carrière
          </a>
          <a class="navbar-item anchor__travail">
            En extérieur
          </a>
          <a class="navbar-item anchor__travail">
            À pied
          </a>
        </div>
      </div>

      <div class="navbar-item is-niv1 has-dropdown is-hoverable">
        <a class="navbar-link is-arrowless anchor__club" >
          Club
        </a>

      </div>

      <div class="navbar-item is-niv1 has-dropdown is-hoverable">
        <a class="navbar-link anchor__evenement" >
          Evenementiel
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item anchor__evenement">
            Mariages
          </a>
          <a class="navbar-item anchor__evenement">
            Comité d'entreprise
          </a>
          <a class="navbar-item anchor__evenement">
            Écoles
          </a>
          <a class="navbar-item anchor__evenement" >
            Equi-relaxation
          </a>
        </div>

      </div>

      <div class="navbar-item is-niv1 is-arrowless ">
        <a class="navbar-link is-arrowless anchor__contact" >
          Me contacter
        </a>


      </div>#}

    </div>

  </div>
</nav>




