---
layout: layouts/intern_layout.njk
title: Travail du cheval
templateClass: tmpl-intern container
eleventyNavigation:
  key: Travail du cheval
  order: 3
---
<section id="intern-first" >

  <section  id="welcome" >
    <div class="slide-image banner">
      <img src="/statics/images/travail/membre.jpg" class="slideImg" alt="1001 galops cheval">
      <img src="/statics/images/travail/monte2.jpg" class="slideImg" alt="1001 galops">
      <img src="/statics/images/travail/regard.jpg" class="slideImg" alt="1001 galops cheval">
    </div>

  </section>
  <section class="containerInt">
    <div class="columns mt-1">
      <div class="column is-12 ">
        <h1 class=" title is-intern-title is-1">Vous partez en congé, surchargé de travail , en études universitaires Ou n'etes pas disponible pour raison personnelle pour travailler votre cheval ?<br>
          Attendez-vous un heureux évènement ou Avez-vous des enfants en bas âge?
        </h1>
      </div>
    </div>
    <div class="columns is-multiline">
      <div class="column is-12 " id="">
            <p class="is-title title is-4 has-text-weight-normal"> <span class="has-text-primary">Je me déplace dans votre écurie pour apporter les soins à votre cheval.
              <br>
              Après un bon pansage, votre cheval sera travaillé selon vos besoins.</span> <br>
              Il peut s'agir d'une simple séance de longe, comme de plat ou d'extérieur, ... <br>
              Lorsque la séance se termine, votre cheval pourra à nouveau être soigné (un bon coup de brosse, les pieds...) mais aussi profiter si vos installations le permettent d'une pause détente pour brouter un peu d'herbe.</p>

      </div>
    </div>
    <hr>
    <div class="columns mt-1">
      <div class="column is-12 ">
        <h1 class=" title is-intern-title is-1">Peut-être avez vous besoin de faire travailler votre cheval par un professionnel pour le familiariser à une nouvelle discipline? Ou lui ôter de mauvaises habitudes?<br>
          Votre cheval est peut être jeune? ou en reconversion suite à une carrière de course ou d'attelage?
        </h1>
      </div>
    </div>
    <div class="columns is-multiline">
      <div class="column is-12 " id="">
        <p class="is-title title is-4 has-text-weight-normal"><span class="has-text-primary">Là encore je me déplace dans votre écurie, effectue les soins de votre cheval, puis travaille votre cheval selon votre demande.</span>
          <br>
          Cela peut être une désensibilisation, l'apprentissage des mouvements latéraux, ou ses premiers pas en extérieur..</p>

      </div>
    </div>

    <div class="columns is-multiline  py-5">
      <div class="column is-12" id="">
        <hr class="my-6">
        <div class="column is-12 has-text-centered py-5">
          <h2 class="title is-1"><span class="has-text-success">Tarifs</span></h2>
          <span class="is-italic">Tout ces tarifs incluent des soins avant et apres la séance</span>
        </div>
        <div class="table-container  py-5">
          <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
              <th>Type de prestation</th>
              <th>Durée de la prestation</th>
              <th>Tarif HT</th>
              <th>Tarif TTC (TVA 20%)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Travail du cheval en carrière</td>
              <td>1h de travail monté</td>
              <td>25 euros</td>
              <td>30 euros</td>
            </tr>
            <tr>
              <td>Travail du cheval en extérieur</td>
              <td>1h30 de travail monté</td>
              <td>25 euros</td>
              <td>30 euros</td>
            </tr>
            <tr>
              <td>Travail du cheval à la longe</td>
              <td>20 min séance longe</td>
              <td>16,67 euros</td>
              <td>20 euros</td>
            </tr>
            <tr>
              <td>Carte 10 séances en carrière</td>
              <td>10h</td>
              <td>208,33 euros</td>
              <td>250 euros (au lieu de 300 euros)</td>
            </tr>
            <tr>
              <td>Carte 10 séances extérieur</td>
              <td>15h</td>
              <td>208,33 euros</td>
              <td>250 euros (au lieu de 300
                euros)</td>
            </tr>
            <tr>
              <td>Carte 10 séances à la longe</td>
              <td>3h20 de travail</td>
              <td>125 euros</td>
              <td>150 euros (au lieu de 200
                euros)</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="column is-12 has-text-centered">
          <a class="button is-large is-success"  href="mailto:contact@1001galops.fr"><span class="has-text-weight-bold has-text-white">Nous contacter</span></a>
        </div>
      </div>
    </div>

  </section>





</section>

{{ content | safe }}

