---
layout: layouts/intern_layout.njk
title: Balades et Randonnées
templateClass: tmpl-intern container
eleventyNavigation:
  key: balades
  order: 3
---
<section id="intern-first" >

  <section  id="welcome" >
    <div class="slide-image banner">
      <img src="/statics/images/vexin/paysage3.jpg" class="slideImg" alt="1001 galops">
      <img src="/statics/images/vexin/paysage2.jpg" class="slideImg" alt="1001 galops cheval">
      <img src="/statics/images/vexin/paysage.jpg" class="slideImg" alt="1001 galops">
      <img src="/statics/images/vexin/moulin.jpg" class="slideImg" alt="1001 galops cheval">
    </div>
    <div class="columns mt-5">
      <div class="column is-12 ">
        <h1 class=" title is-intern-title is-1">Le parc naturel régional du Vexin Français se situe au Nord-Ouest de l'Île De France.
          <span class="has-text-primary">71 000 hectares, 98 communes,</span> à cheval sur les départements du Val d'Oise et des Yvelines.
            Territoire rural, riche en patrimoine, au paysage rempli de charme </h1>
        <p class="is-title is-4"><a href="http://www.pnr-vexin-francais.fr/fr/" class="has-text-underline is-flex has-text-centered is-align-items-center"><img src="/statics/images/vexin/logo_vexin.jpeg"
                                                                                                                alt="" width="80">Parc naturel régional du Vexin Francais</a></p>
      </div>
    </div>
  </section>
  <section class="containerInt">
    <div class="columns is-multiline">
      <div class="column is-12 my-6" id="">
        <div class="columns is-vcentered">
          <div class="column is-4">
            <figure class="radius"><img class="ring--one" src="/statics/images/portfolio/balade.jpg" alt=""></figure>
          </div>
          <div class="column is-8 is-spaced px-5 ">
            <h2  class="title is-2 has-text-blue">Accompagnatrice de Tourisme Equestre Diplomée</h2>
            <p class="is-title title is-4 has-text-weight-normal"> <span class="has-text-primary">Suivez moi en balade</span> au milieu des champs de blé ou de colza.
              <br><span class="has-text-primary">Respirez</span> l'air pur de nos forêts de noisetiers et de chênes.
              <br><span class="has-text-primary">Observez</span> ces terres à perte de vue. Contemplez ces lavoirs, moulins, églises, châteaux, villages anciens bâtis de pierres.
              <br>
              Croisez petits ruisseaux, cascades, ces fermes typiques du Vexin, mais encore ces croix pattées et falaises calcaires caractéristique de notre territoire.</p>
          </div>
        </div>
      </div>


      <div class="column is-6 " id="">
        <div class="card is-full-height">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="/statics/images/vexin/cavalerie.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
          <h3  class="title is-3 has-text-blue">A votre arrivée, votre cheval vous attend.</h3>
          <p class="is-title title is-5 has-text-weight-normal">Puis une fois en selle, nous pourrons traverser le parc naturel régional du Vexin français, allant de la simple balade de 1h à une randonnée d'une journée.
          Vous pourrez en fonction de la prestation choisie, profiter d'une pause pique-nique ou d'un barbecue, faire une halte dans une ferme pour y déguster des spécialités locales.
          <br>
          Vous pourrez également terminer votre escapade par une nuit dans un gîte de charme tout confort typique du Vexin français."</p>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-6" id="">
        <div class="card is-full-height">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="/statics/images/vexin/chateau.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h3  class="title is-3 has-text-blue">Des balades à thème vous sont également proposées</h3>
              <p class="is-title title is-5 has-text-weight-normal">Alors mettez vos amis au défi en participant à une balade du grand combattant du Vexin, ou prenez une pause entre copines pour une balade Bio&Relax du Vexin,.
                <br>
                Les amoureux pourront profiter d'une balade crépusculaire et pourquoi pas effectuer une demande en mariage entouré de chevaux.
                <br>
                Vous pourrez aussi partir pour une balade dégustation du Vexin en famille.</p>
            </div>
          </div>
        </div>


      </div>

    </div>

    <div class="columns is-multiline  py-5">
      <div class="column is-12" id="">
        <hr class="my-6">
        <div class="column is-12 has-text-centered py-5">

          <div class="is-italic pb-4 title is-4">Pour votre sécurité, toutes nos balades sont accessibles à partir
            de 13 ans et 1m50 </div><br>
          <h2 class="title is-1"><span class="has-text-success">Tarifs</span></h2>
        </div>
        <div class="table-container  py-5">
          <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
              <th>Type de prestation</th>
              <th>Durée de la prestation</th>
              <th>Tarif HT</th>
              <th>Tarif TTC (TVA 20%)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Balade à cheval 1h</td>
              <td>1h</td>
              <td>25 euros</td>
              <td>30 euros</td>
            </tr>
            <tr>
              <td>Balade à cheval 2h</td>
              <td>2h</td>
              <td>33,33 euros</td>
              <td>40 euros</td>
            </tr>
            <tr>
              <td>Balade à cheval demi journée</td>
              <td>3h</td>
              <td>50 euros</td>
              <td>60 euros</td>
            </tr>
            <tr>
              <td>Carte 10 balades 1h</td>
              <td>10h</td>
              <td>208,33 euros</td>
              <td>250 euros (au lieu de 300 euros)</td>
            </tr>
            <tr>
              <td>Carte 10 balades 2h</td>
              <td>20h</td>
              <td>291,67 euros</td>
              <td>350 euros (au lieu de 420 euros)</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="column is-12 has-text-centered py-5">
          <h4 class="title is-4"><span class="has-text-success">Balades à thème</span></h4>
        </div>

        <div class="table-container  py-5">
          <table class="table is-fullwidth">
            <tbody>
            <tr>
              <td>
                <span class="has-text-weight-bold has-text-primary">
                  Balade à cheval demie journée
                avec halte pique-nique ou
                barbecue
              </span></td>
              <td>Traversée paysages typiques
                du Vexin + halte pique-nique
                ou barbecue. (selon la saison)</td>
            </tr>
            <tr>
              <td>
                <span class="has-text-weight-bold has-text-primary">Balade à cheval demie journée
                avec halte restaurant</span></td>
              <td>Traversée paysages typique du
                Vexin + halte restaurant de
                charme typique du Vexin.</td>
            </tr>
            <tr>
              <td>
                <span class="has-text-weight-bold has-text-primary">
                  Balade Bio & Relax en Vexin
                </span></td>
              <td>Balade zen au milieu paysages
                typiques du Vexin, séance de
                relaxation de pleine air,
                collation bio.</td>
            </tr>
            <tr>
              <td>
                <span class="has-text-weight-bold has-text-primary">
                  Balade du Grand combatant du Vexin
                </span></td>
              <td>Après votre balade à cheval, il
                vous sera proposé d'enchainer
                votre parcours par une
                initiation gratuite de golf, ou
                une descente de canoë.</td>
            </tr>
            <tr>
              <td>
                <span class="has-text-weight-bold has-text-primary">
                 Balade Beauté crépusculaire
                </span></td>
              <td>Paysages du Vexin, juste avant
                la tombée de la nuit.</td>
            </tr>
            <tr>
              <td>
                <span class="has-text-weight-bold has-text-primary">
                  Balade St Valentin du Vexin
                </span></td>
              <td>Faites lui le plus beau cadeau !
                (Boite de chocolats offerte)</td>
            </tr>
            <tr>
              <td>
                <span class="has-text-weight-bold has-text-primary">
                  Balade Halloween du Vexin
                </span></td>
              <td>La tournée des monstres et
                fantômes du Vexin. Balade
                déguisée. Au pas.</td>
            </tr>
            <tr>
              <td>
                <span class="has-text-weight-bold has-text-primary">
                  Balade de Noël du Vexin
                </span></td>
              <td>Féerie de Noël.</td>
            </tr>

            </tbody>
          </table>
        </div>

        <div class="column is-12 has-text-centered">
          <div class="pb-2 title is-4 "><span class="">Nos randonnées se déroulent à la journée et peuvent s'étendre à 3 jours consécutifs.
Il vous sera possible de réaliser des haltes gustatives, pique-niques / barbecue ou restauration.
              Hébergement en gîte de charme tout confort. </span><br><span class="has-text-weight-bold has-text-primary ">Tarifs sur demande.</span></div>
          <div class="is-italic has-text-primary  pb-4"><span class="has-text-weight-bold">A cheval, en balade,
              randonnée ou lors d'autres prestations, il est fortement conseillé d'avoir
              une assurance à responsabilité civile</span>. (en cas
            d'accident) Si vous ne possédez pas d'assurance, vous pouvez aussi prendre une licence FFE qui vous couvre
            en cas d'accident. (Assurance). Possibilité de
            vous délivrer une licence valable 1 mois au prix de 10 euros. (Licence annuelle 25 euros pour -18 ans,
            36 euros pour + 18 ans)</div><br>

          <a class="button is-large is-success"  href="mailto:contact@1001galops.fr"><span class="has-text-weight-bold has-text-white">Nous contacter</span></a>
        </div>
      </div>
    </div>

  </section>





</section>

{{ content | safe }}

