---
layout: layouts/intern_layout.njk
title: Evénementiel
templateClass: tmpl-intern container
eleventyNavigation:
  key: evenementiel
  order: 3
---
<section id="intern-first" >

  <section  id="welcome" >
    <div class="slide-image banner">
      <img src="/statics/images/events/ent1.jpg" class="slideImg" alt="1001 galops">
      <img src="/statics/images/events/mar1.jpg" class="slideImg" alt="1001 galops cheval">
    </div>
    <div class="columns mt-5">
      <div class="column is-12 ">
        <h1 class=" title is-intern-title is-1 has-text-weight-light">
          <span class="has-text-weight-bold">Forte d'une expérience de plus de 10 ans en grands groupes Internationaux</span>, 
          ce fut mon travail quotidien d'organiser de grands événements à travers le monde.
          <span class="has-text-primary">Faites appel à l'expertise 1001galops!</span> </h1>
      </div>
    </div>
  </section>
  <section class="containerInt">
    <div class="columns is-multiline">
      <div class="column is-12 my-6" id="">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <figure class="radius"><img class="ring--one" src="/statics/images/events/mar-s.jpg" alt=""></figure>
          </div>
          <div class="column is-7 is-spaced px-5 ">
            <h2  class="title is-2 has-text-blue">Mariage et EVJF/EVG</h2>
            <div class="is-title title is-4 has-text-weight-normal">

              <p class="title is-5">
                <span class="has-text-primary">Vous souhaitez faire votre demande en mariage à cheval et rendre ce jour inoubliable?</span>
                <br>
1001galops vous propose une balade à cheval privatisée. Tout sera mis en œuvre pour lui faire vivre le plus beau jour de sa vie!
Fleurs, champagne sans alcool, chocolats si vous le souhaitez puis demande en mariage au milieu des champs entouré de chevaux!   
              </p>           
              <hr>
              <p class="title is-5"><span class="has-text-primary">Vous souhaitez offrir aux futurs époux une balade spéciale Enterrement Vie de Jeune Fille ou Garçon?</span>
                <br>
                1001galops organise des balades EVJF avec animation spéciale et balade à cheval déguisée où même vos chevaux seront apprêtés pour l'occasion!
                </p>
              <hr>
              <p class="title is-5"><span class="has-text-primary">Vous souhaitez louer des chevaux pour réaliser des photos de mariage entouré de chevaux?</span></p>
              <hr>
              <p class="title is-5"><span class="">Faites appel à 1001galops!</span> </p>
            </div>
          </div>
        </div>
      </div>



      <div class="column is-12 my-6" id="">
        <div class="columns is-vcentered">
          <div class="column is-7 is-spaced px-5 ">
            <h2  class="title is-2 has-text-blue">Comité entreprise</h2>
            <div class="is-title title is-4 has-text-weight-normal">

              <p class="title is-5"><span class="has-text-primary">Vous souhaitez une manière originale de faire du Team Building?</span></p>
              <hr>
              <p class="title is-5"> <span class="has-text-primary">Vous souhaitez offrir une balade pour célébrer une promotion, un pot de départ ou une mutation?</span></p>
              <hr>
              <p class="title is-5"><span >1001galops saura répondre à votre demande</span> </p>
            </div>
          </div>

          <div class="column is-5">
            <figure class="radius"><img class="ring--one" src="/statics/images/events/ent-s.jpg" alt=""></figure>
          </div>
        </div>
      </div>





      <div class="column is-12 my-6" id="">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <figure class="radius"><img class="ring--one" src="/statics/images/events/sc-s.jpg" alt=""></figure>
          </div>
          <div class="column is-7 is-spaced px-5 ">
            <h2  class="title is-2 has-text-blue">Scolaire/Scouts </h2>
            <div class="is-title title is-4 has-text-weight-normal mb-3">

              <p class="title is-5 mb-2"><span class="has-text-primary">Vous souhaitez offrir à vos élèves une sortie scolaire au contact des chevaux?</span></p>
              <hr class="mt-0 mb-2">
              <p class="title is-5 mb-2"><span class="has-text-primary">Vous souhaitez mettre en place des ateliers ou travaux pratiques pour vos élèves en lien avec les chevaux?</span></p>
              <hr class="mt-0 mb-2">
              <p class="title is-5 mb-2"><span class="has-text-secondary">Faites appel à 1001galops! Enseignante d'équitation diplômée, je sais encadrer des élèves et être pédagogue.</span> </p>
            </div>
            <h2  class="title is-2 has-text-blue mt-6">Hôpitaux, centres spécialisés </h2>
            <div class="is-title title is-4 has-text-weight-normal">

              <p class="title is-5 mb-2"><span class="has-text-primary">
Vous souhaitez une initiation, une parenthèse bien-être pour vos patients et vous-même éducateurs infirmiers?

                </span></p>
              <hr class="mt-0 mb-2">
              <p class="title is-5 mb-2"><span class="has-text-primary">
Vous souhaitez mettre en place des séances régulières d'équitation adaptées pour vos patients?

                </span></p>
              <hr class="mt-0 mb-2">
              <p class="title is-5 mb-2"><span class="has-text-secondary">
Formée en Sophrologie & enseignante diplômée , 1001galops saura répondre à votre demande.<br>
Ces séances permettront à vos patients de trouver le calme, de se redonner confiance, d'apprendre à gérer leurs émotions, par le biais des chevaux.<br>
1001galops est convaincu que l'animal à le pouvoir d'apaiser ou de guérir le cœur de l'homme.                </span> </p>
            </div>
          </div>
        </div>
      </div>







    </div>

    <div class="columns is-multiline  py-5">
      <div class="column is-12" id="">
        <div class="column is-12 has-text-centered">
          <a class="button is-large is-success"  href="mailto:contact@1001galops.fr"><span class="has-text-weight-bold has-text-white">Nous contacter</span></a>
        </div>
      </div>
    </div>
    <div class="is-italic has-text-primary  pb-4 pt-4 ">
        <span class="has-text-weight-bold">
        Toute réservation faite est due, quel que soit le motif d'annulation de votre part
        </span>
      </div>
  </section>





</section>

{{ content | safe }}

