---
layout: layouts/intern_layout.njk
title: Cours
templateClass: tmpl-intern container
eleventyNavigation:
  key: Cours
  order: 3
---
<section id="intern-first" >

  <section  id="welcome" >
    <div class="slide-image banner">
      <img src="/statics/images/cours/cour4.jpg" class="slideImg" alt="1001 galops">
      <img src="/statics/images/cours/cour-pn.jpg" class="slideImg" alt="1001 galops">
      <img src="/statics/images/cours/cour5.jpg" class="slideImg" alt="1001 galops">
    </div>
    <div class="columns mt-5 is-multiline">
      <div class="column is-12 ">
        <h1 class=" title is-intern-title is-1"><span class="has-text-primary">Enseignante diplômée, je fais cours du Baby au galop 7.</span><br>
          Cours d'équitation classique ou cours d'équitation de Pleine Nature.</h1>
      </div>

    </div>
  </section>
  <section class="containerInt">

      <div class="column is-12 mt-6" id="">
        <div class="columns is-vcentered">
          <div class="column is-8 is-spaced px-5 ">
            <h2  class="title is-2 has-text-blue">Vous souhaitez prendre ou reprendre des cours d'équitation ? </h2>
            <p class="is-title title is-4 has-text-weight-normal mb-1">Cela par micro-groupe de 2 à 4 personnes maximum?
             </p>
<p class="has-text-primary title is-3 is-italic  has-text-weight-semibold mt-2 mb-4" >Ici la bonne ambiance est assurée! </p>
        <p class="title is-6 mb-2">Pas de pression, vous progressez à votre rythme, dans le calme et la bonne humeur. </p>
        <p class="title is-6 mb-2">Le tout entouré de verdure et de paysages magnifiques, propice au bien-être.</p>
        <p class="title is-6 mb-2">Cours d'équitation STRUCTURÉ par MÉTHODE DOUCE et À VOTRE RYTHME, dans le RESPECT et BIEN-ÊTRE du cheval.</p>
        <p class="title is-6 mb-2">Vous aurez le temps de préparer votre cheval et de passer du temps en sa compagnie.</p>
        <p class="title is-6 mb-2">Les élèves 1001galops sont pleinement impliqués dans la vie des chevaux, participent à des petits ateliers coupage de crins, couvertures, soins, mais aussi des petits goûters et sorties ensemble.
Le tout avec beaucoup de bienveillance.</p>
        <p class="title is-6 mb-2">Vous pourrez en conséquence y participer si vous le souhaitez.</p>

          </div>

          <div class="column is-4">
            <figure class="radius"><img class="ring--one" src="/statics/images/cours/spir.jpg" alt=""></figure>
          </div>
        </div>
      </div> 

    <div class="columns is-multiline">
      <div class="column is-12 mt-6" id="">
        <div class="columns is-vcentered">
          <div class="column is-4">
            <figure class="radius"><img class="ring--one" src="/statics/images/cours/cl.jpg" alt=""></figure>
          </div>
          <div class="column is-8 is-spaced px-5 ">
            <h2  class="title is-2 has-text-blue">L'équitation classique</h2>
            <p class="is-title title is-4 has-text-weight-normal">L'équitation classique se déroule la plupart du temps dans une carrière de sable ou en herbe, ou sous un manège; Cela avec l'utilisation de matériel pédagogique.
(cônes, frites, cube, balle, barres...)
             </p>
            <p class="title is-6 mb-2">
              Chez 1001galops, il n'y a pas de manège fermé, mais un carrière en herbe entourée d'arbres avec vue directe sur le champ des chevaux. 
              De quoi vous sentir libre et profiter d'un moment bien-être, rien qu'à vous.
            </p>
            <p class="title is-6 mb-2">
              Vous y apprendrez les figures de manège ou à enchaîner un petit parcours de barres au sol. Vous pourrez aussi apprendre à réaliser du Travail A Pied.
            </p>
            <p class="title is-6 mb-2">
              A la fin de votre progression, il vous sera possible de passer vos galops de Cavaliers.
            </p>

            <p class="is-title title is-4 has-text-weight-normal has-text-primary">
              1001 galops est adhérente à la Fédération Française d'Equitation et dispose d'un code examinateur pour vous faire passer vos examens.
              </p>
          </div>
        </div>
      </div>



      <div class="column is-12 mt-6" id="">
        <div class="columns is-vcentered">
          <div class="column is-8 is-spaced px-5 ">
            <h2  class="title is-2 has-text-blue">L'équitation de Pleine Nature </h2>
            <p class="is-title title is-4 has-text-weight-normal">Les cours d'équitation de Pleine Nature se déroulent en immersion dans la nature.
            </p>
            <p class="is-title title is-4 has-text-weight-normal">
              L'occasion de profiter d'une belle balade tout en apprenant  les fondamentaux de l'équitation. 
              </p>
              <p class="is-title title is-4 has-text-weight-normal">
              En Pleine Nature il vous est enseigné le TREC, l'orientation, la connaissance du milieu. Vous apprendrez à reconnaître la faune et la flore, mais aussi à vous servir d'une carte IGN et d'une boussole et à sauter un tronc ou un contre bas.
            
            </p>
            <p class="is-title title is-4 has-text-weight-normal">
              De quoi <span class="has-text-primary">réveiller l'aventurier qui se cache en vous</span>.
            </p>
          </div>

          <div class="column is-4">
            <figure class="radius"><img class="ring--one" src="/statics/images/cours/pn.jpg" alt=""></figure>
          </div>
        </div>
      </div>


  <div class="column is-12 mt-6 px-5">
      <hr>
<div class="columns is-multiline">
        <div class="column is-12 ">
          <h1 class=" title is-intern-title is-1">Propriétaires, les cours d'équitation classique se déroulent dans vos écuries.
          </h1>
        </div>


        <div class="column is-12 " id="">
          <p class="is-title title is-4 has-text-weight-normal"><span class="has-text-primary">Je me déplace dans votre écurie. Vos cours ont lieu sur vos installations.</span>
Ce qui est pratique pour votre cheval et vous, mais aussi pour y reproduire les exercices de votre cours.</p>

        </div>
</div>

      <hr>
<div class="columns is-multiline">
        <div class="column is-12 ">
          <h1 class=" title is-intern-title is-1">Cavaliers d'équitation classique, non propriétaire.
          </h1>
        </div>

        <div class="column is-12 " id="">
          <p class="is-title title is-4 has-text-weight-normal">Les cours se déroulent chez 1001galops, dans une très jolie carrière en herbe. Au calme, juste en face du champ des chevaux.
</br>
Des partenaires situés dans le Vexin Français, peuvent également mettre à disposition leurs installations pour un stage de PTV ou de CSO.
</br>
A la suite de votre progression, il vous sera possible de vous présenter à l'examen Fédéral des <span class="has-text-primary">Galops de cavaliers.</span></p>
        </div>
</div>


      <hr>
<div class="columns is-multiline">
        <div class="column is-12 ">
          <h1 class=" title is-intern-title is-1">Cavaliers d'équitation de Pleine Nature.
          </h1>
        </div>

        <div class="column is-12 " id="">
          <p class="is-title title is-4 has-text-weight-normal">
            <span class="has-text-primary">Tels de vrais aventuriers</span>, vos cours se déroulent en extérieur, à travers bois et à travers champs.<span class="has-text-primary">Cela quelle que soit la météo! C'est ça être un vrai aventurier!</span>
            </p>
            <p class="is-title title is-4 has-text-weight-normal">Bien évidemment vous apprendrez à vous équiper en conséquence et à profiter de la nature même sous la pluie.</p>
            <p class="is-title title is-4 has-text-weight-normal">
            A la suite de votre progression, il vous sera possible de vous présenter à l'examen Fédéral des <span class="has-text-primary">Galops de Pleine Nature</span>.
          </p>
        </div>
</div>

  </div>

    </div>

    <div class="columns is-multiline  py-5" id="tarif">
      <div class="column is-12" id="">
        <hr class="my-6">
        <div class="column is-12 has-text-centered py-5">
          <h2 class="title is-1"><span class="has-text-success">Tarifs Cours</span></h2>
        </div>
        <div class="table-container  py-5">
          <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
              <th>Type de prestation</th>
              <th>Descriptif</th>
              <th>Durée de la prestation</th>
              <th>Tarif TTC</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Cours d'équitation de pleine
                nature, collectif</td>
              <td>Du débutant au galop 7 de
                pleine nature</td>
              <td>2h</td>
              <td>70 euros</td>
            </tr>
            <tr>
              <td>Cours d'équitation classique, collectif</td>
              <td>Du débutant au galop 7 de
                cavalier</td>
              <td>1h</td>
              <td>40 euros</td>
            </tr>
            <tr>
              <td>Cours particulier classique	</td>
              <td>Du débutant au galop 7</td>
              <td>1h</td>
              <td>50 euros</td>
            </tr>
            <tr><td colspan="5" class="has-text-centered has-text-weight-bold"> Abonnements *</td></tr>
            <tr>
              <td>Carte 10h cours collectif/balade **</td>
              <td> </td>
              <td>10h</td>
              <td>250 euros</td>
            </tr>
            <tr>
              <td>Carte 10h cours particuliers **</td>
              <td> </td>
              <td>10h</td>
              <td>450 euros</td>
            </tr>
            <tr>
              <td colspan="4"><span class="is-italic is-size-7">* Cartes valables 1 an à compter date d'achat
.Valables toute l'année, vacances scolaires comprises</span></td>
              
            </tr>
            </tbody>
          </table>
          <p class="has-text-alert">** <small>Licence FFE obligatoire pour les formules cartes. Possibilité de vous délivrer des licences FFE</small></p>
        </div>
          <div class="columns is-centered  is-multiline py-5">
            <div class="column is-12 has-text-centered">
            <p class="pb-2 title is-5 pb-0 mb-0">Tous les cours <span class="has-text-primary">1001galops</span> suivent à la lettre
                <span class="has-text-primary"> le Plan Fédéral de Formation </span>de la
                <span class="has-text-primary">Fédération Française d'Equitation</span>.</p>
              <p class="pb-2 title is-5 pb-0 mb-0" >
            A l'issue de votre progression, il vous sera possible de passer
                <span class="has-text-primary">vos Galops Classique</span> ou
                <span class="has-text-primary">Galops de Pleine Nature</span>.
              </p>
              <p class="pb-2 title is-5 pb-0 mb-0"> Obtention à condition de réussite aux tests FFE.</p>

              <br>
            </div>
            <div class="column is-8 is-4-tablet is-3-desktop is-centered has-text-centered ">
              <img src="/statics/images/cours/logoffe.png" alt=""></div>
            <br>
            <div class=" has-text-centered" >
              <p class="is-italic has-text-primary  pb-4">Pour les cours d'équitation et stages, il est fortement
              conseillé d'avoir une Licence FFE à jour. La licence vous couvre en cas d'accident. (Assurance).
              Possibilité de vous délivrer une licence valable 1 mois au prix de 10 euros. (Licence annuelle 25 euros pour -18 ans,
              36 euros pour + 18 ans)</p>
              <a class="button is-large is-success"  href="mailto:contact@1001galops.fr"><span class="has-text-weight-bold has-text-white">Nous contacter</span></a>
            </div>
      </div>
      </div>
    </div>

  </section>





</section>

{{ content | safe }}

