---
layout: layouts/intern_layout.njk
title: Evénementiel
templateClass: tmpl-intern container
eleventyNavigation:
  key: evenementiel
  order: 3
---
<section id="intern-first" >

  <section  id="welcome" >
    <div class="slide-image banner">
      <img src="/statics/images/events/mar1.jpg" class="slideImg" alt="1001 galops cheval">
      <img src="/statics/images/events/ent1.jpg" class="slideImg" alt="1001 galops">
    </div>
    <div class="columns mt-5">
      <div class="column is-12 ">
        <h1 class=" title is-intern-title is-1">Forte d'une expérience de plus de 10 ans en grands groupes Internationaux, ce fut mon travail quotidien d'organiser des grands événements à travers le monde.
          <span class="has-text-primary">Faites appel à 1001galops!</span> </h1>
      </div>
    </div>
  </section>
  <section class="containerInt">
    <div class="columns is-multiline">
      <div class="column is-12 my-6" id="">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <figure class="radius"><img class="ring--one" src="/statics/images/events/mar-s.jpg" alt=""></figure>
          </div>
          <div class="column is-7 is-spaced px-5 ">
            <h2  class="title is-2 has-text-blue">Mariage</h2>
            <div class="is-title title is-4 has-text-weight-normal">

              <p class="title is-5"><span class="has-text-primary">Vous souhaitez faire votre demande de mariage et rendre ce jour inoubliable?</span>
                <br>
                Nous organisons des balades à cheval et vous aiderons à lui faire vivre le plus beau jour de sa vie."</p>
              <hr>
              <p class="title is-5"><span class="has-text-primary">Vous souhaitez offrir aux futurs époux une balade spéciale Enterrement Vie de Jeune Fille ou Garçon?</span>
                <br>
                Nous organisons des balades où le futur époux sera déguisé sur son cheval. </p>
              <hr>
              <p class="title is-5"><span class="has-text-primary">Vous souhaitez réaliser des photos de mariage avec des chevaux?</span></p>
              <hr>
              <p class="title is-5"><span class="has-text-primary">Vous souhaitez louer des chevaux pour votre grand jour?</span> </p>
              <hr>
              <p class="title is-5"><span class="">Faites appel à 1001galops!</span> </p>
            </div>
          </div>
        </div>
      </div>



      <div class="column is-12 my-6" id="">
        <div class="columns is-vcentered">
          <div class="column is-7 is-spaced px-5 ">
            <h2  class="title is-2 has-text-blue">Comité entreprise</h2>
            <div class="is-title title is-4 has-text-weight-normal">

              <p class="title is-5"><span class="has-text-primary">Vous souhaitez une manière originale pour faire du Team Building?</span></p>
              <hr>
              <p class="title is-5"> <span class="has-text-primary">Vous souhaitez offrir une balade pour célébrer une promotion, un pot de départ ou une mutation?</span></p>
              <hr>
              <p class="title is-5"><span >Faites appel à 1001galops, expérimenté en événementiel et relation d'entreprise, mais aussi Guide et enseignante diplômée, 1001galops saura répondre à votre demande</span> </p>
            </div>
          </div>

          <div class="column is-5">
            <figure class="radius"><img class="ring--one" src="/statics/images/events/ent-s.jpg" alt=""></figure>
          </div>
        </div>
      </div>





      <div class="column is-12 my-6" id="">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <figure class="radius"><img class="ring--one" src="/statics/images/events/sc-s.jpg" alt=""></figure>
          </div>
          <div class="column is-7 is-spaced px-5 ">
            <h2  class="title is-2 has-text-blue">Scolaire</h2>
            <div class="is-title title is-4 has-text-weight-normal">

              <p class="title is-5"><span class="has-text-primary">Vous souhaitez offrir à vos élèves une sortie scolaire au contact des chevaux?</span></p>
              <hr>
              <p class="title is-5"><span class="has-text-primary">Vous souhaitez mettre en place des ateliers ou travaux pratiques pour vos élèves en lien avec les chevaux?</span></p>
              <hr>
              <p class="title is-5"><span class="has-text-secondary">Faites appel à 1001galops! Enseignante d'équitation diplômée, je sais encadrer des élèves et être pédagogue.</span> </p>
            </div>
          </div>
        </div>
      </div>



    </div>

    <div class="columns is-multiline  py-5">
      <div class="column is-12" id="">

        <div class="column is-12 has-text-centered">
          <a class="button is-large is-success"  href="mailto:contact@1001galops.fr"><span class="has-text-weight-bold has-text-white">Nous contacter</span></a>
        </div>
      </div>
    </div>

  </section>





</section>

{{ content | safe }}

