---
layout: layouts/intern_layout.njk
title: Clubs
templateClass: tmpl-intern container
eleventyNavigation:
  key: balades
  order: 3
---
<section id="intern-first" >

  <section  id="welcome" >
    <div class="slide-image banner">
      <img src="/statics/images/cours/cour1.jpg" class="slideImg" alt="1001 galops cheval">
      <img src="/statics/images/cours/cour2.jpg" class="slideImg" alt="1001 galops">
      <img src="/statics/images/cours/cour3.jpg" class="slideImg" alt="1001 galops">
    </div>
    <div class="columns mt-5">
      <div class="column is-12 has-text-centered">
        <p class=" title is-intern-title is-1">
          Une <span class="has-text-primary">enseignante d'équitation</span> absente, ou en congé ? <br>

          Un surplus d'activité?
          <br>

          Des chevaux de club ou de propriétaires à travailler? <br>

        </p>

       
      </div>
      
    </div>

    <div class="columns is-multiline  py-5">
      <div class="column is-12 has-text-centered" id="">
        <hr class="my-6">
        <div class="column is-12 has-text-centered py-5">
          <h2 class="title is-1"><span class="has-text-success">Tarifs</span></h2>
          <span class="is-italic">Tout ces tarifs incluent des soins avant et apres la séance</span>
        </div>
        <div class="table-container  py-5">
          <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
              <th>Remplacement club: cours ou travail du cheval</th>
              <th>Tarif TTC</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1h</td>
              <td>40 euros</td>
            </tr>
            <tr>
              <td>2h</td>
              <td>65 euros</td>
            </tr>
            <tr>
              <td>3h</td>
              <td>80 euros</td>
            </tr>
            </tbody>
          </table>
          <p class="mb-5">1001galops ne se charge pas des travaux d'écurie.</p>
          <p class="mb-5">Tarifs applicable au 1er Janvier 2024</p>
          
          <p class="is-title title is-6 has-text-weight-normal">
                <span class="has-text-alert">Déplacement uniquement dans les départements 78, 95, 27. Frais de déplacement offert en dessous de 10km.</span>
                </p>

              <p class="is-title title is-6 has-text-weight-normal">
                <h6 class="has-text-primary  title is-6">Frais de déplacement : </h6>
                <span class="has-text-alert"> 
                  • Offert en dessous de 10km 
                </span><br/>
                <span class="has-text-alert"> 
                  • De 10 à 25km: 3€
                </span><br/>
                <span class="has-text-alert"> 
                  • De 25 à 50km: 6€
                </span><br/>
                <span class="has-text-alert"> 
                  • De 50 à 75km: 9€
                </span><br/>
                <span class="has-text-alert"> 
                  • De 75 à 100km: 12€
                </span>
                
          <br>
          </p>
          
        </div>

        <div class="column is-12 has-text-centered">
          <a class="button is-large is-success"  href="mailto:contact@1001galops.fr"><span class="has-text-weight-bold has-text-white">Nous contacter</span></a>
        </div>
      </div>
    </div>

  </section>
  




</section>

{{ content | safe }}

