---
layout: layouts/intern_layout.njk
title: Cours
templateClass: tmpl-intern container
eleventyNavigation:
  key: Cours
  order: 3
---
<section id="intern-first" >

  <section  id="welcome" >
    <div class="slide-image banner">
      <img src="/statics/images/cours/cour4.jpg" class="slideImg" alt="1001 galops">
      <img src="/statics/images/cours/cour-pn.jpg" class="slideImg" alt="1001 galops">
    </div>
    <div class="columns mt-5">
      <div class="column is-12 ">
        <h1 class=" title is-intern-title is-1"><span class="has-text-primary">Enseignante diplômée, je donne des cours du Baby au galop 7.</span><br>
          Cours d'équitation classique et cours d'équitation de Pleine Nature.</h1>
      </div>
    </div>
  </section>
  <section class="containerInt">
    <div class="columns is-multiline">
      <div class="column is-12 mt-6" id="">
        <div class="columns is-vcentered">
          <div class="column is-4">
            <figure class="radius"><img class="ring--one" src="/statics/images/cours/cl.jpg" alt=""></figure>
          </div>
          <div class="column is-8 is-spaced px-5 ">
            <h2  class="title is-2 has-text-blue">L'équitation classique</h2>
            <p class="is-title title is-4 has-text-weight-normal">L'équitation classique se déroule la plupart du temps dans une carrière de sable ou d'herbe, ou sous un manège; Avec l'utilisation de matériel pédagogique.
              <br>
              (cônes, frites, cube, balle, barres...)
             </p>
          </div>
        </div>
      </div>



      <div class="column is-12 mt-6" id="">
        <div class="columns is-vcentered">
          <div class="column is-8 is-spaced px-5 ">
            <h2  class="title is-2 has-text-blue">L'équitation de Pleine Nature </h2>
            <p class="is-title title is-4 has-text-weight-normal">L'équitation de Pleine Nature se déroule en immersion dans la nature.
              <br>
              L'occasion de profiter d'une belle balade tout en apprenant  les fondamentaux de l'équitation. <br>
              En Pleine Nature il vous est enseigné aussi à reconnaître la faune et la flore, mais aussi à vous servir d'une carte IGN et d'une boussole.
              <br>
              De quoi <span class="has-text-primary">réveiller l'aventurier qui se cache en vous</span>.
            </p>
          </div>

          <div class="column is-4">
            <figure class="radius"><img class="ring--one" src="/statics/images/cours/pn.jpg" alt=""></figure>
          </div>
        </div>
      </div>


  <div class="column is-12 mt-6 px-5">
      <hr>
<div class="columns is-multiline">
        <div class="column is-12 ">
          <h1 class=" title is-intern-title is-1">Propriétaires, les cours d'équitation classique se déroulent dans vos écuries.
          </h1>
        </div>


        <div class="column is-12 " id="">
          <p class="is-title title is-4 has-text-weight-normal"><span class="has-text-primary">Je me déplace là où loge votre cheval. Vos cours ont lieu dans vos installations. <br>
Ce qui est pratique pour votre cheval et vous, mais aussi reproduire par la suite les exercices.</p>

        </div>
</div>

      <hr>
<div class="columns is-multiline">
        <div class="column is-12 ">
          <h1 class=" title is-intern-title is-1">Cavaliers d'équitation classique, les cours se déroulent chez nos différents partenaires.
          </h1>
        </div>

        <div class="column is-12 " id="">
          <p class="is-title title is-4 has-text-weight-normal"><span class="has-text-primary">Des partenaires situés dans le Vexin Français, afin de profiter de belles installations. <br>
Manège, carrière CSO, carré de dressage, parcours de PTV.</p>
        </div>
</div>


      <hr>
<div class="columns is-multiline">
        <div class="column is-12 ">
          <h1 class=" title is-intern-title is-1">Cavaliers d'équitation de Pleine Nature.
          </h1>
        </div>

        <div class="column is-12 " id="">
          <p class="is-title title is-4 has-text-weight-normal">Tels de vrais aventuriers, les cours se déroulent par tout temps en extérieur, à travers bois et à travers champs.
            A la suite de votre progression, il vous sera possible de vous présenter à l'examen Fédéral des <span class="has-text-primary">Galops de Pleine Nature</span>.
            <br>
            <span class="has-text-primary">Les propriétaires</span> souhaitant suivre des cours d'équitation de Pleine Nature, sont les bienvenus.
          </p>
        </div>
</div>

  </div>

    </div>

    <div class="columns is-multiline  py-5">
      <div class="column is-12" id="">
        <hr class="my-6">
        <div class="column is-12 has-text-centered py-5">
          <h2 class="title is-1"><span class="has-text-success">Tarifs (Cours particuliers)</span></h2>
        </div>
        <div class="table-container  py-5">
          <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
              <th>Type de prestation</th>
              <th>Descriptif</th>
              <th>Durée de la prestation</th>
              <th>Tarif TTC (TVA 20%)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Cours d'équitation de pleine
                nature</td>
              <td>Du débutant au galop 7 de
                pleine nature</td>
              <td>1h</td>
              <td>30 euros</td>
            </tr>
            <tr>
              <td>Cours d'équitation classique</td>
              <td>Du débutant au galop 7 de
                cavalier</td>
              <td>1h</td>
              <td>30 euros</td>
            </tr>
            <tr>
              <td>Cours d'équitation classique
                Enfant (-12 ans)</td>
              <td>Cours poney.</td>
              <td>1h</td>
              <td>20 euros</td>
            </tr>
            <tr><td colspan="5" class="has-text-centered has-text-weight-bold"> Abonnements </td></tr>
            <tr>
              <td>Carte 10 cours pleine nature</td>
              <td>Du débutant au galop 7 de
                pleine nature</td>
              <td>10h</td>
              <td>250 euros</td>
            </tr>
            <tr>
              <td>Carte 10 cours classique</td>
              <td>Du débutant au galop 7 de
                cavalier</td>
              <td>10h</td>
              <td>250 euros</td>
            </tr>
            </tbody>
          </table>
        </div>
          <div class="columns is-centered  is-multiline py-5">
            <div class="column is-12 has-text-centered">
            <p class="pb-2 title is-5 pb-0 mb-0">Tous les cours <span class="has-text-primary">1001galops</span> suivent à la lettre
                <span class="has-text-primary"> le Plan Fédéral de Formation </span>de la
                <span class="has-text-primary">Fédération Française d'Equitation</span>.</p>
              <p class="pb-2 title is-5 pb-0 mb-0" >
            A l'issue de votre progression, il vous sera possible de passer
                <span class="has-text-primary">vos Galops Classique</span> ou
                <span class="has-text-primary">Galops de Pleine Nature</span>.
              </p>
              <p class="pb-2 title is-5 pb-0 mb-0"> Obtention à condition de réussite aux tests FFE.</p>

              <br>
            </div>
            <div class="column is-8 is-4-tablet is-3-desktop is-centered has-text-centered ">
              <img src="/statics/images/cours/logoffe.png" alt=""></div>
            <br>
            <div class=" has-text-centered" >
              <p class="is-italic has-text-primary  pb-4">Pour les cours d'équitation et stages, il est fortement
              conseillé d'avoir une Licence FFE à jour. La licence vous couvre en cas d'accident. (Assurance).
              Possibilité de vous délivrer une licence valable 1 mois au prix de 10 euros. (Licence annuelle 25 euros pour -18 ans,
              36 euros pour + 18 ans)</p>
              <a class="button is-large is-success"  href="mailto:contact@1001galops.fr"><span class="has-text-weight-bold has-text-white">Nous contacter</span></a>
            </div>
      </div>
      </div>
    </div>

  </section>





</section>

{{ content | safe }}

