---
layout: layouts/intern_layout.njk
title: Clubs
templateClass: tmpl-intern container
eleventyNavigation:
  key: balades
  order: 3
---
<section id="intern-first" >

  <section  id="welcome" >
    <div class="slide-image banner">
      <img src="/statics/images/cours/cour1.jpg" class="slideImg" alt="1001 galops cheval">
      <img src="/statics/images/cours/cour2.jpg" class="slideImg" alt="1001 galops">
      <img src="/statics/images/cours/cour3.jpg" class="slideImg" alt="1001 galops">
    </div>
    <div class="columns mt-5">
      <div class="column is-12 has-text-centered">
        <p class=" title is-intern-title is-1">
          Une <span class="has-text-primary">enseignante d'équitation</span> absente, ou en congé ? <br>

          Un surplus d'activité?
          <br>

          Des chevaux de club ou de propriétaires à travailler? <br>

        </p>

        <p class=" title is-intern-title is-3 ">
          <span class="has-text-primary"><span class="is-small"> N'hésitez pas à me contacter,
              je me rendrai immédiatement disponible pour vous aider.</span></span> </p>

              <p class="is-title title is-6 has-text-weight-normal">
                <span class="has-text-primary">Frais de déplacement offert en dessous de 10km.</span>
          <br>
          </p>
      </div>
      
    </div>
  </section>
  <section class="containerInt">


    <div class="columns is-multiline  py-5">
      <div class="column is-12" id="">

        <div class="column is-12 has-text-centered">
          <a class="button is-large is-success"  href="mailto:contact@1001galops.fr"><span class="has-text-weight-bold has-text-white">Nous contacter</span></a>
        </div>
      </div>
    </div>

  </section>





</section>

{{ content | safe }}

