---
layout: layouts/intern_layout.njk
title: Clubs
templateClass: tmpl-intern container
eleventyNavigation:
  key: balades
  order: 3
---
<section id="intern-first" >

  <section  id="welcome" >
    <div class="slide-image banner">
      <img src="/statics/images/cours/cour2.jpg" class="slideImg" alt="1001 galops">
      <img src="/statics/images/cours/cour3.jpg" class="slideImg" alt="1001 galops">
    </div>
    <div class="columns mt-5">
      <div class="column is-12 ">
        <h1 class=" title is-intern-title is-1">
          Une enseignante absente, ou en congé ? <br>

          Un surplus d'activité? <br>

          Des chevaux de club ou de propriétaires à travailler? <br>


          <span class="has-text-primary"> N'hésitez pas à me contacter, je me rendrai immédiatement disponible pour vous aider.</span> </h1>
      </div>
    </div>
  </section>
  <section class="containerInt">


    <div class="columns is-multiline  py-5">
      <div class="column is-12" id="">

        <div class="column is-12 has-text-centered">
          <a class="button is-large is-success"  href="mailto:contact@1001galops.fr"><span class="has-text-weight-bold has-text-white">Nous contacter</span></a>
        </div>
      </div>
    </div>

  </section>





</section>

{{ content | safe }}

