---
layout: layouts/intern_layout.njk
title: Travail du cheval
templateClass: tmpl-intern container
eleventyNavigation:
  key: Travail du cheval
  order: 3
---
<section id="intern-first" >

  <section  id="welcome" >
    <div class="slide-image banner">
      <img src="/statics/images/travail/monte3.jpg" class="slideImg" alt="1001 galops">
      <img src="/statics/images/travail/membre.jpg" class="slideImg" alt="1001 galops cheval">
      <img src="/statics/images/travail/monte2.jpg" class="slideImg" alt="1001 galops">
    </div>

  </section>
  <section class="containerInt">
    <div class="columns mt-1 pb-5 is-vcentered">
      <div class="column is-8 ">
        <h1 class=" title is-2 has-text-blue">Vous partez en congé, surchargé de travail , en études universitaires ou n'êtes pas disponible pour raison personnelle pour travailler votre cheval ?<br>
          Attendez-vous un heureux évènement ou Avez-vous des enfants en bas âge?
        </h1>
         <p class="is-title title is-4 has-text-weight-normal pb-1 has-text-primary">Je me déplace dans votre écurie pour apporter les soins à votre cheval.
              <br>
              Après un bon pansage, votre cheval sera travaillé selon vos besoins.</p> <p class="">
          Il peut s'agir d'une simple séance de longe, comme de plat ou d'extérieur, ... <br>
          Lorsque la séance se termine, votre cheval pourra à nouveau être soigné (un bon coup de brosse, les pieds...) mais aussi profiter si vos installations le permettent d'une pause détente pour brouter un peu d'herbe.</p>
      </div>
      <div class="column is-4">
        <figure class="radius"><img class="ring--one" src="/statics/images/travail/soin.jpg" alt=""></figure>
      </div>
    </div>



    <div class="columns mt-4 pb-5 is-vcentered">
        <div class="column is-4">
          <figure class="radius"><img class="ring--one" src="/statics/images/travail/travail.jpg" alt=""></figure>
        </div>
        <div class="column is-8 ">
        <h1 class=" title is-2 has-text-blue">Peut-être avez vous besoin de faire travailler votre cheval par un professionnel pour le familiariser à une nouvelle discipline? Ou lui ôter de mauvaises habitudes?<br>
            Votre cheval est peut être jeune? en reconversion? en phase de débourage ou à remettre au travail?</h1>
          <p class="is-title title is-4 has-text-weight-normal"><span class="has-text-primary">Là encore je me déplace dans votre écurie, effectue les soins de votre cheval, puis travaille votre cheval selon votre demande.</span>
            <br>
            Cela peut être une désensibilisation, l'apprentissage des mouvements latéraux, ou ses premiers pas en extérieur..</p>
        </div>

    </div>




    <div class="columns mt-4 pb-5 is-vcentered">
        <div class="column is-8 ">
        <h1 class=" title is-2 has-text-blue">Vous avez un cheval à vendre ?  <br>
                                N'hésitez pas à contacter 1001galops!</h1>
          <p class="is-title title is-4 has-text-weight-normal"><span class="has-text-primary">Je me charge de valoriser votre cheval afin de le vendre au meilleur prix .</span><br>
          De la communication à la gestion de la vente, en passant par l'entrainement. Je me charge de tout.</p>
 <p class="is-title title is-5 has-text-weight-normal">Tous types de chevaux ! sport, course, attelage, club, loisir....</p>
        </div>
        <div class="column is-4">
          <figure class="radius"><img class="ring--one" src="/statics/images/travail/vente.jpg" alt=""></figure>
        </div>

    </div>




    <div class="columns is-multiline  py-5">
      <div class="column is-12" id="">
        <hr class="my-6">
        <div class="column is-12 has-text-centered py-5">
          <h2 class="title is-1"><span class="has-text-success">Tarifs</span></h2>
          <span class="is-italic">Tout ces tarifs incluent des soins avant et apres la séance</span>
        </div>
        <div class="table-container  py-5">
          <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
              <th>Type de prestation</th>
              <th>Durée de la prestation</th>
              <th>Tarif TTC</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Travail du cheval en carrière</td>
              <td>1h de travail monté</td>
              <td>35 euros</td>
            </tr>
            <tr>
              <td>Travail du cheval en extérieur</td>
              <td>1h de travail monté</td>
              <td>35 euros</td>
            </tr>
            <tr>
              <td>Carte 10 séances en carrière</td>
              <td>10h</td>
              <td>300 euros (au lieu de 350 euros)</td>
            </tr>
            <tr>
              <td>Carte 10 séances extérieur</td>
              <td>10h</td>
              <td>300 euros (au lieu de 350
                euros)</td>
            </tr>
            </tbody>
          </table>
          <p class="is-title title is-6 has-text-weight-normal">
                <span class="has-text-alert">Déplacement uniquement dans les départements 78, 95, 27. Frais de déplacement offert en dessous de 10km.</span>
                </p>

              <p class="is-title title is-6 has-text-weight-normal">
                <h6 class="has-text-primary  title is-6">Frais de déplacement : </h6>
                <span class="has-text-alert"> 
                  • Offert en dessous de 10km 
                </span><br/>
                <span class="has-text-alert"> 
                  • De 10 à 25km: 3€
                </span><br/>
                <span class="has-text-alert"> 
                  • De 25 à 50km: 6€
                </span><br/>
                <span class="has-text-alert"> 
                  • De 50 à 75km: 9€
                </span><br/>
                <span class="has-text-alert"> 
                  • De 75 à 100km: 12€
                </span>
                
          <br>
          </p>
          
        </div>

        <div class="column is-12 has-text-centered">
          <a class="button is-large is-success"  href="mailto:contact@1001galops.fr"><span class="has-text-weight-bold has-text-white">Nous contacter</span></a>
        </div>
      </div>
    </div>

  </section>





</section>

{{ content | safe }}

