<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/statics/css/app.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;600;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  </head>
  <body class="is-preload">
  <div id="wrapper" {% if templateClass %} class="{{ templateClass }}"{% endif %}>

    {% include 'navigation.njk' %}


    {% include 'hero-top.njk' %}



      {{ content | safe }}
    {% include 'footer.njk' %}

    </div>

  {% include 'scripts.njk' %}
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
