---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<!-- about -->
<section class="section pt-5">
  <div class="container is-relative zindex-10   is-centered">
    <div class="has-text-centered">
      <h1 class="section-title font-secondary has-text-weight-light title is-2"> </h1>
    </div>

    <div class="columns  is-variable is-centered">
      <div class="column is-12 is-10-widescreen is-8-fullhd">
        <div class="columns  is-multiline is-centered ">


          <div class="column is-6">
            <div class="card hover-shadow  is-cardspecial">
              <header class="card-header is-relative has-text-centered">
                <a href="#" class="card-header-icon" aria-label="more options">
                      <span class="icon is-icon-fix-size">
                        <i class="icon-map"></i>
                      </span>
                </a>
                <p class="card-header-title title is-3 is-centered has-text-weight-normal my-5">Cours d'équitation</p>
              </header>
              <div class="card-content has-text-centered my-6">
                <p class="title  is-4 has-text-weight-light has-text-color"><span>•</span> Equitation classique <span>•</span>Equitation pleine nature </p>
              </div>

            </div>
          </div>


          <div class="column is-6">
            <div class="card hover-shadow  is-cardspecial">
              <header class="card-header is-relative has-text-centered">
                <a href="#" class="card-header-icon" aria-label="more options">
                      <span class="icon is-icon-fix-size">
                        <i class="icon-map"></i>
                      </span>
                </a>
                <p class="card-header-title title is-3 is-centered has-text-weight-normal my-5">Cours d'équitation</p>
              </header>
              <div class="card-content has-text-centered my-6">
                <p class="title  is-4 has-text-weight-light has-text-color"><span>•</span> Equitation classique <span>•</span>Equitation pleine nature </p>
              </div>

            </div>
          </div>

          <div class="column is-6">
            <div class="card hover-shadow  is-cardspecial">
              <header class="card-header is-relative has-text-centered">
                <a href="#" class="card-header-icon" aria-label="more options">
                      <span class="icon is-icon-fix-size">
                        <i class="icon-map"></i>
                      </span>
                </a>
                <p class="card-header-title title is-3 is-centered has-text-weight-normal my-5">Cours d'équitation</p>
              </header>
              <div class="card-content has-text-centered my-6">
                <p class="title  is-4 has-text-weight-light has-text-color"><span>•</span> Equitation classique <span>•</span>Equitation pleine nature </p>
              </div>

            </div>
          </div>



          <div class="column is-6">
            <div class="card hover-shadow  is-cardspecial">
              <header class="card-header is-relative has-text-centered">
                <a href="#" class="card-header-icon" aria-label="more options">
                      <span class="icon is-icon-fix-size">
                        <i class="icon-map"></i>
                      </span>
                </a>
                <p class="card-header-title title is-3 is-centered has-text-weight-normal my-5">Cours d'équitation</p>
              </header>
              <div class="card-content has-text-centered my-6">
                <p class="title  is-4 has-text-weight-light has-text-color"><span>•</span> Equitation classique <span>•</span>Equitation pleine nature </p>
              </div>

            </div>
          </div>




        </div>
      </div>

    </div>

  </div>
</section>
<!-- /about -->
