---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 0
  anchorClass : logo
  activeAnchorClass : logo active
---
<section id="sectionPin" >

  <section  id="welcome" >
    <div class="columns">
      <div class="column is-12 ">
        <h2 class=" title is-1">Bienvenue chez <br><span class="has-text-primary">1001Galops</span></h2>
      </div>
    </div>
  </section>
  <div class="pin-wrap">
    <div class="" id="balade">
    <h2  class="title is-1 has-text-blue">Envie de changer <br>d'air ?</h2>
      <p class="is-title title is-3 has-text-weight-normal">Venez faire une balade à cheval à travers le <i>Parc naturel régional du Vexin Français</i> !</p>
      <a href="/balade&rando/" class="button is-link"><span class="has-text-white">En savoir plus</span></a>
    </div>
    <figure><img class="ring--one" src="/statics/images/portfolio/balade.jpg" alt=""></figure>
    <div id="travail">
      <h2  class="title is-1 has-text-blue">Pas disponible <br>pour travailler <br>votre cheval ?</h2>
      <p class="is-title title is-3 has-text-weight-normal">Je viens m’en occuper, <br>longe, plat, extérieur …</p>
      <a href="/travaille-du-cheval/" class="button is-link"><span class="has-text-white">En savoir plus</span></a>
    </div>
    <figure><img class="ring--two" src="/statics/images/portfolio/travail.jpg" alt=""></figure>
    <div id="apprendre">
      <h2  class="title is-1 has-text-blue">Soif d'apprendre ?</h2>
      <p class="is-title title is-3 has-text-weight-normal">Je donne des cours particuliers ou en groupe, <br>
        équitation classique ou de pleine nature.</p>
      <a href="/cours/" class="button is-link"><span class="has-text-white">En savoir plus</span></a>
    </div>
    <figure class="figurering--three"><img class="ring--three" src="/statics/images/portfolio/pleinenature.jpg" alt=""></figure>
    <div id="evenement">
      <h2 class="title is-1 has-text-blue">Un événement <br>particulier ?</h2>
      <p class="is-title title is-3 has-text-weight-normal">Projet de mariage, EVJF ou EVG ? 
        <br>Je saurai rendre ce moment absolument inoubliable et magique ! </p>
      <a href="/evenementiel/" class="button is-link"><span class="has-text-white">En savoir plus</span></a>
    </div>
    <figure class="figurering--four"><img class="ring--four" src="/statics/images/portfolio/evenement.jpg" alt=""></figure>
    <div id="club">
      <h2 class="title is-1 has-text-blue">Autre prestation ?</h2>
      <p class="is-title title is-3 has-text-weight-normal">Comité d’entreprise, animation scolaire/scouts, séances adaptées ou Handi
Je m'adapte à vos besoins..</p>
      <a href="/clubs/" class="button is-link"><span class="has-text-white">En savoir plus</span></a>
    </div>
    <figure class="figurering--five"><img class="ring--five" src="/statics/images/portfolio/cours.jpg" alt=""></figure>

  </div>
</section>
<section  id="contact">
  <div class="slide-image">
    <img src="/statics/images/portfolio/zambari.jpg" class="slideImg" alt="1001 galops cheval">
    <img src="/statics/images/portfolio/1001.png" class="slideImg" alt="1001 galops">
    <img src="/statics/images/portfolio/chevaux.jpg" class="slideImg" alt="1001 galops">
    <img src="/statics/images/portfolio/fidgi.jpg" class="slideImg" alt="1001 galops">
  </div>
  <div data-scroll data-scroll-speed="1">
    <h2  ><a href="mailto:contact@1001galops.fr" >Scheherazade Bracht</a></h2>
    <p class="title is-4">Diplômée Accompagnatrice de Tourisme Équestre (ATE) <br>
      et Enseignante d’équitation (BPJEPS).</p>
    <p class="mb-1">
      Passionnée par les chevaux et l’équitation depuis l’enfance.
    </p>
    <p class="mb-1">
      Diplômée d’une licence de Langue Littérature et Civilisations étrangères spécialisée en Anglais, ainsi qu’un BTS assistant manager, j’entre comme Assistante Marketing & Commerciale bilingue en grands groupes internationaux.
    </p>
    <p class="mb-1">
      Formée de surcroît en sophrologie.
    </p>
    <p class="mb-1">
      Après 10 ans d'expérience comme Assistante Marketing & Commerciale bilingue en grands groupes internationaux, avec de l'expérience en RH et événementiel, je décide de me reconvertir afin de travailler de ma passion, mon amour des animaux et des chevaux ne me quittant pas.
</p><p class="mb-1">
Fondatrice et gérante de 1001galops, diplômée Accompagnatrice de Tourisme Équestre et Enseignant d’équitation, j’ai la volonté de pouvoir vous transmettre ma passion et vous partager mes valeurs de l'équitation.
</p><p class="mb-1">
Une équitation loisir et bien-être pour chevaux comme pour cavaliers.
</p><p class="mb-1">
Au-delà de ça, je suis également formée et certifiée en soins animaliers et soigneuse bénévole en Faune Sauvage pour de nombreuses associations depuis de très nombreuses années.
Il me sera en conséquence possible de vous partager mes connaissances sur notre faune locale lors de vos cours de Pleine Nature ou de vos balades.


</p><p class="mb-1">
1001galops est une bulle bien-être à la fois pour les chevaux comme pour les cavaliers.
Micro club, composé de cinq adorables chevaux installés dans une prairie arborée de plusieurs hectares.
Une carrière en herbe avec vue directe sur le pré des chevaux est mise à disposition, ainsi que de nombreux sentiers de balade.
</p><p class="mb-1">
Il n'y a ni boxes, ni manèges fermés ici. Juste le bien-être apporté par la nature et les chevaux.
1001Galops a à cœur de voir ses chevaux libres et de promouvoir une équitation de bien-être pour le cheval comme pour le cavalier.
Une équitation zen et au vert, praticable à toutes saisons, quelque soit la météo.</p>

 <p class="title is-5 has-text-blue">Au plaisir de vous accueillir chez 1001galops!</p>

 <h4 class="title is-3 has-text-blue">Scheherazade BRACHT</h4>
  </div>

  
</section>
<section class="pt-0">
      <div class="column is-12 mb-6" id="">
        <div class="columns is-multiline  is-vcentered">
          

          <div class="column is-12 is-spaced px-5 ">
            <div class="fullgrid" data-scroll data-scroll-speed="2" >
                <hr >
                <p class="title is-intern-title is-3 " >
                  1001Galops n'est pas un centre equestre mais une micro-structure ou règne le bien-être animal.
                </p>
                <p class="title is-intern-title is-4 has-text-primary">
                  Choisir 1001Galops c'est choisir des chevaux bien dans leurs têtes et sabots. Chevaux qui vivent au plus près de leur états naturels dans plusieurs hectares de prairies arborées en totale liberté.
                </p>
                <p class="title is-intern-title is-4 ">
                  1001Galops est adhérent Fédération Française d'Equitation.
                </p>
                <p class="title is-intern-title is-4 ">
                  <span class=" has-text-primary">Nos partenaires</span> : FFE, Yvelines le département, PNR du Vexin Francais, Terre de seine, la Société hippique de la tanière.
                </p>
                <hr >
            </div>
          </div>


          <div class="column is-12 is-spaced px-5 ">
            <figure class="radius has-text-centered"><img  src="/statics/images/portfolio/horses.jpg" alt=""></figure>
          </div>
          
      </div>
  </div>
</section>
