---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<section id="sectionPin">
  <div class="pin-wrap">
    <div class="" id="balade">
    <h2 data-scroll="" data-scroll-speed="1" class="title is-1 has-text-blue">Envie de changer <br>d'air ?</h2>
      <p class="is-title title is-3 has-text-weight-normal">Venez faire une balade à cheval à travers le vexin !</p>
    </div>
    <figure><img class="ring--one" src="/statics/images/portfolio/balade.jpg" alt=""></figure>
    <div id="travail">
      <h2  class="title is-1 has-text-blue">Pas disponible pour <br>votre cheval ?</h2>
      <p class="is-title title is-3 has-text-weight-normal">je viens travailler vos chevaux, longe, plat, extérieur.</p>
    </div>
    <figure><img class="ring--two" src="/statics/images/portfolio/travail.jpg" alt=""></figure>
    <div id="apprendre">
      <h2 data-scroll="y" data-scroll-speed="1" class="title is-1 has-text-blue">Soif d'apprendre ?</h2>
      <p class="is-title title is-3 has-text-weight-normal">je donne des cours au particulier ou en groupe, équitation classique ou de pleine nature.</p>
    </div>
    <figure class="figurering--three"><img class="ring--three" src="/statics/images/portfolio/cours.jpg" alt=""></figure>
    <div id="evenement">
      <h2 class="title is-1 has-text-blue">Un évenement <br>particulier ?</h2>
      <p class="is-title title is-3 has-text-weight-normal">Projet de mariage, commité d'entreprise, sortie scolaire. Je m'adapte a vos besoin. </p>
    </div>
    <figure class="figurering--four"><img class="ring--four" src="/statics/images/portfolio/evenement.jpg" alt=""></figure>
    <div id="detendre">
      <h2 class="title is-1 has-text-blue">Besoin de se <br>détendre ?</h2>
      <p class="is-title title is-3 has-text-weight-normal">Venez pour une séance d'équi-relaxation.</p>
    </div>
    <figure class="figurering--five"><img class="ring--five" src="/statics/images/portfolio/detente.jpg" alt=""></figure>
    <div id="club">
      <h2 class="title is-1 has-text-blue">Clubs, besoin d'un <br>coup de main ?</h2>
      <p class="is-title title is-3 has-text-weight-normal">Appelez-moi , je donne des cours et travaille vos chevaux.</p>
    </div>

  </div>
</section>
<section data-bgcolor="#e3857a" data-textcolor="#f1dba7" id="contact">
  <figure><img src="/statics/images/portfolio/1001.png" alt="1001 galops"></figure>
  <div data-scroll data-scroll-speed="1">
    <h2  ><a href="mailto:me@gmail.com" >Scheherazade Bracht</a></h2>
    <p class="title is-4">Diplomée ATE et BPJEPS</p>
    <p>

    </p>
  </div>
</section>


